{% extends 'base.html' %}
{% load static %}
{% load bulma_tags %}
{% block title %} Billify: Signup {% endblock %}
{% block content %}
<div style="margin-top: 20px;">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="card shadow-lg">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
							<form method="POST" class="needs-validation" novalidate autocomplete="off">
								{% csrf_token %}
								<div class="field">
									{{form.first_name|bulma}}
								</div>
								<div class="field">
									{{form.last_name|bulma}}
								</div>
								<div class="field">
									{{form.email|bulma}}
									<p class="errors" id="emailError"></p>
								</div>
								<div class="field">
									{{form.password1|bulma}}
								</div>
								<div class="field">
									{{form.password2|bulma}}
								</div>
								<p class="form-text text-muted mb-3">
									By registering you agree with our terms and condition.
								</p>
								<div class="align-items-center d-flex">
									<button type="submit" id="submitBtn" class="btn btn-primary ms-auto" hx-swap-oob="true">
										Register
									</button>
								</div>
							</form>
						</div>
						<div class="card-footer py-3 border-0">
							<div class="text-center">
								Already have an account? <a href="{% url 'login' %}" class="text-dark">Login</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}