{% extends "base.html" %}
{% load bulma_tags %}
{% load custom_tags %}
{% load static %}
{% block title %} Billify: {{ page_title }} {% endblock %}
{% block content %}
<div style="margin-top: 20px;">
<div class="container-div">
    <div class="logo-div">
        <img src="{{ company.logo.url }}" alt="{{ company.name }} Logo" class="logo-img">
    </div>
    <div class="title-div">
        <h4 class="card-header-title">
            {{ company.name }} &nbsp;
        </h4>
    </div>
</div>
<section class="hero is-fullheight">
    <div class="container">
        <div class="card white-ter">
            <div class="hero-body justify-content-sm-center">
                <form class="" method="POST" action="" novalidate>
                    {% csrf_token %}
                    <input name="company" value="{{ company.pk }}" hidden>
                    <input name="old_invoice_number" value="{{ invoice_number }}" hidden>
                    <div class="columns is-centered">
                        <div class="column is-one-quarter">
                            {{form.invoice_number|bulma}}
                            <p class="errors" id="invoiceNumberError"></p>
                        </div>
                        <div class="column is-one-quarter">
                            {{form.type|bulma}}
                        </div>
                        <div class="column is-one-quarter">
                            {{form.customer|bulma}}
                        </div>
                        <div class="column is-one-quarter">
                            {{form.customer_email|bulma}}
                        </div>
                    </div>
                    <div class="columns is-centered">
                        <div class="column is-one-quarter">
                            {{form.billing_address|bulma}}
                        </div>
                        <div class="column is-one-quarter">
                            {{form.date|bulma}}
                            {{form.customer_phone|bulma}}
                        </div>
                        <div class="column is-one-quarter">
                            {{form.due_date|bulma}}
                        </div>
                        <div class="column is-one-quarter">
                            {{form.tax_rate |bulma}}
                        </div>
                    </div>
                    <table class="table is-fullwidth is-bordered is-hoverable is-striped">
                        <tbody>
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>QTY</th>
                                    <th>UNIT PRICE</th>
                                    <th>AMOUNT ({{ company.currency|currency_symbol }})</th>
                                    <th>ADD</th>
                                </tr>
                                {{ formset.management_form }}
                                {% for form in formset %}
                                <tr class="form-row">
                                    <td>{{form.description}}</td>
                                    <td>{{form.quantity}}</td>
                                    <td>{{form.rate}}</td>
                                    <td class="amount"></td>
                                    <td>
                                        <div class="input-group-append">
                                            <a class="add-form-row">
                                                <i class="fa-regular text-primary fa-square-plus fa-2x"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </thead>
                        </tbody>
                    </table>
                    <div class="columns">
                        <div class="column is-one-third">
                            {{form.message|bulma}}
                        </div>
                    </div>
                    <br>
                    <div class="columns">
                        <div class="column">
                            <h3 class="title is-4">Total (Excl. VAT): {{ company.currency|currency_symbol }}
                                <span id="total"></span>
                            </h3>
                        </div>
                        <div class="column is-align-content-end">
                            <button type="submit" id="saveBtn" class="button is-info" hx-swap-oob="true">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</div>
{% endblock %}
{% block custom_js %}
<script src="{% static 'js/invoice.js' %}"></script>
{% endblock %}