{% extends "base.html" %}
{% load bulma_tags %}
{% load custom_tags %}
{% block title %} Billify: {{ company.name }} {% endblock %}
{% block content %}
<div style="margin-top: 20px;">
    <form action="{% url 'invoice_list' pk=pk %}" method="post">{% csrf_token %}
        <div class="card">
            <header class="card-header">
                <div class="logo-div">
                    <img src="{{ company.logo.url }}" alt="{{ company.name }} Logo" class="logo-img">
                </div>
                <p class="card-header-title">
                    All Orders / Change Order Status &nbsp;<button class="button is-rounded is-info">
                    <a href="{% url 'create_invoice' pk %}" class="has-text-white">Create Invoice</a></button>
                </p>
            </header>
            <div class="cards-list">
                    {% for invoice in invoices %}
                    <div class="invoice-card">
                        <input class="checkbox" type="checkbox" id="{{ invoice.id }}" value="{{ invoice.id }}"
                               name="invoice_id" size="1" {% if not invoice.type == 'INV' %} disabled {% endif %} />
                        <div class="invoice-details">
                            <h2 class="invoice-title">{{ invoice.type|format_type }} #{{ invoice.invoice_number }}</h2>
                            <div class="invoice-dates">
                                <p class="text-gray-600">Created: {{ invoice.date }}</p>
                                <p class="text-gray-600">Due: {{ invoice.due_date }}</p>
                            </div>
                        </div>
                        <div class="invoice-client">
                            <p class="text-gray-600">Client: {{ invoice.customer }}</p>
                        </div>
                        <div class="tags">
                            <span class="tag">{{ invoice.company.currency|currency_symbol }}{{invoice.total_amount|format_money}}</span>
                            {% if invoice.type == 'INV' %}
                                <span class="tag">
                                    {% if invoice.get_status %}
                                        Paid
                                    {% else %}
                                        Not Paid
                                    {% endif %}
                                </span>
                            {% endif %}
                        </div>
                        <div class="invoice-actions">
                            <a href="{% url 'invoice_detail' invoice.pk %}">
                                <i class="fa-regular fa-eye fa-xl" title="View"></i>
                            </a>
                            <a href="{% url 'edit_invoice' invoice.pk %}">
                                <i class="fa-solid fa-pen text-primary fa-xl" title="Edit"></i>
                            </a>
                            <a href="#invoiceModal{{ invoice.pk }}" data-bs-target="#invoiceModal{{ invoice.pk }}"
                               data-bs-toggle="modal">
                                <i class="fa-regular fa-trash-can text-danger fa-xl" title="Delete"></i>
                            </a>
                            <a href="{% url 'invoice_download' invoice.pk %}">
                                <i class="fa-solid text-primary fa-download fa-xl" title="Download"></i>
                            </a>
                            {% if invoice.type == 'INV' %}
                            <a href="{% url 'download_delivery_note' invoice.pk %}">
                                <i class="fa-solid has-text-grey fa-download fa-xl" title="Download Delivery Note"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
        <br/><br/><br/>
        <div class="card has-background-white-ter">
            <header class="card-header">
                <p class="card-header-title">
                    Change Order Status
                </p>
            </header>
            <div class="card-content" style="display: flex; align-items: center;">
                <div class="select is-rounded" style="margin-right: 10px;">
                    <select id="status" name="status">
                        <option value="1">Paid</option>
                        <option value="0">Not Paid</option>
                    </select>
                </div>
                <input class="button is-info is-rounded" type="submit" value="Change Status">
            </div>
        </div>
    </form>
</div>
{% endblock %}